@font-face {
  font-family: Montserrat-Bold;
  src: url("../fonts/montserrat/Montserrat-Bold.ttf");
}

@font-face {
  font-family: Montserrat-SemiBold;
  src: url("../fonts/montserrat/Montserrat-SemiBold.ttf");
}

@font-face {
  font-family: Montserrat-Regular;
  src: url("../fonts/montserrat/Montserrat-Regular.ttf");
}

@import url("https://fonts.googleapis.com/css?family=Assistant:300,400,700|Open+Sans:300,400,700|Roboto:300,400,500");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500,700");
@import url("https://fonts.googleapis.com/css?family=Staatliches");

html {
  font-family: sans-serif;
}
body {
  background: #ffafbd; 
  background: -webkit-linear-gradient(
    to right,
    #ffc3a0,
    #ffafbd
  ); 
  background: linear-gradient(
    to right,
    #ffc3a0,
    #ffafbd
  );
  /* background: #fff; */
  /* background: #20002c;
  background: -webkit-linear-gradient(
    to right,
    #cbb4d4,
    #20002c
  );
  background: linear-gradient(
    to right,
    #cbb4d4,
    #20002c
  ); */
  /* color: #fff; */
  /* font-family: Montserrat-Regular, sans-serif; */
  text-align: center;
}

.container {
  text-align: center;
}
#header {
  /* font-family: Montserrat-Bold, sans-serif; */
  font-size: 4rem;
}
.partner_logo {
  filter: grayscale(100%);
  /* filter: brightness(0) invert(1); */
}
hr {
  background-color: #fff;
}
.label {
  /* text-align: center; */
  justify-content: center;
}
