@mixin buttonify{
    display: inline-block;
    text-align: center;
    white-space: no-wrap;
    border-radius: 3px;
    cursor: pointer;
    box-sizing: border-box;
}

@mixin atSmall{
    @media (max-width: 530px){
		@content;
	}
}
    