.footer{
    &__aboutus{
        background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        color: white;
        &-links{
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            padding: 2rem 0 1.5rem 0;
            text-align: center;
            text-transform: uppercase;
        }

        &-text{
            text-align: center;
        padding: 3rem;
        }

        &-socials{
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            text-align:center;
            width: 30%;
            padding: 0 3rem 3rem 3rem;
            margin: auto;
        }

        &-copyright{
            text-align: center;
        background-color: #24243e;
        padding: 2rem;
        }

        &-line{
            color: white;
        }

        a{
            color: white;
        text-decoration: none;
        }
        a:hover{
            color: grey;
            text-decoration: none;
        }
    }
    &__events{
        background: linear-gradient(to right, #ff6a00, #ee0979); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        color: white;
        &-links{
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            padding: 2rem 0 1.5rem 0;
            text-align: center;
            text-transform: uppercase;
        }

        &-text{
            text-align: center;
        padding: 3rem;
        }

        &-socials{
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            text-align:center;
            width: 30%;
            padding: 0 3rem 3rem 3rem;
            margin: auto;

            @include atSmall{
                width: 100%;
            }
        }

        &-copyright{
            text-align: center;
            background: linear-gradient(to right, #dd5c00, #c90865); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        padding: 2rem;
        }

        &-line{
            color: white;
        }

        a{
            color: white;
        text-decoration: none;
        }
        a:hover{
            color: grey;
            text-decoration: none;
        }
    }
    &__talks{
        background: linear-gradient(to right, #DD2476, #FF512F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        color: white;
        &-links{
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            padding: 2rem 0 1.5rem 0;
            text-align: center;
            text-transform: uppercase;
        }

        &-text{
            text-align: center;
        padding: 3rem;
        }

        &-socials{
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            text-align:center;
            width: 30%;
            padding: 0 3rem 3rem 3rem;
            margin: auto;
            
            @include atSmall{
                width: 100%;
            }
        }

        &-copyright{
            text-align: center;
            background: linear-gradient(to right, #dd2486, #ff5140); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        padding: 2rem;
        }

        &-line{
            color: white;
        }

        a{
            color: white;
        text-decoration: none;
        }
        a:hover{
            color: grey;
            text-decoration: none;
        }
    }
    &__teams{
        background: linear-gradient(to right, #00CDAC, #02AAB0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        color: white;
        &-links{
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            padding: 2rem 0 1.5rem 0;
            text-align: center;
            text-transform: uppercase;
        }

        &-text{
            text-align: center;
        padding: 3rem;
        }

        &-socials{
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            text-align:center;
            width: 30%;
            padding: 0 3rem 3rem 3rem;
            margin: auto;
            
            @include atSmall{
                width: 100%;
            }
        }

        &-copyright{
            text-align: center;
            background: linear-gradient(to right, #00cdbd, #02aac1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        padding: 2rem;
        }

        &-line{
            color: white;
        }

        a{
            color: white;
        text-decoration: none;
        }
        a:hover{
            color: grey;
            text-decoration: none;
        }
    }
    &__workshop{
        background: linear-gradient(to right, #F45C43, #EB3349); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        color: white;
        &-links{
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            padding: 2rem 0 1.5rem 0;
            text-align: center;
            text-transform: uppercase;
        }

        &-text{
            text-align: center;
        padding: 3rem;
        }

        &-socials{
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            text-align:center;
            width: 30%;
            padding: 0 3rem 3rem 3rem;
            margin: auto;
            
            @include atSmall{
                width: 100%;
            }
        }

        &-copyright{
            text-align: center;
            background: linear-gradient(to right, #F45C54, #EB3360); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        padding: 2rem;
        }

        &-line{
            color: white;
        }

        a{
            color: white;
        text-decoration: none;
        }
        a:hover{
            color: grey;
            text-decoration: none;
        }
    }
    &__web{
        background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        color: white;
        &-links{
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            padding: 2rem 0 1.5rem 0;
            text-align: center;
            text-transform: uppercase;
        }

        &-text{
            text-align: center;
        padding: 3rem;
        }

        &-socials{
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            text-align:center;
            width: 30%;
            padding: 0 3rem 3rem 3rem;
            margin: auto;
            
            @include atSmall{
                width: 100%;
            }
        }

        &-copyright{
            text-align: center;
            background: linear-gradient(to right, #414356, #232537); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        padding: 2rem;
        }

        &-line{
            color: white;
        }

        a{
            color: white;
        text-decoration: none;
        }
        a:hover{
            color: grey;
            text-decoration: none;
        }
    }
    &__partners{
        background: linear-gradient(to right, #F9D423, #e65c00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        color: white;
        &-links{
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            padding: 2rem 0 1.5rem 0;
            text-align: center;
            text-transform: uppercase;
        }

        &-text{
            text-align: center;
        padding: 3rem;
        }

        &-socials{
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            text-align:center;
            width: 30%;
            padding: 0 3rem 3rem 3rem;
            margin: auto;
            
            @include atSmall{
                width: 100%;
            }
        }

        &-copyright{
            text-align: center;
            background: linear-gradient(to right, #F9D434, #e65c26); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        padding: 2rem;
        }

        &-line{
            color: white;
        }

        a{
            color: white;
        text-decoration: none;
        }
        a:hover{
            color: grey;
            text-decoration: none;
        }
    }
    &__home{
        &-left{
            float: left;
            padding: 2rem 3rem;
            a{
               padding-right: 1rem; 
               color: white;
               font-weight: 500;
            }
            a:hover{
                color: grey;
                text-decoration: none;
            }
        }
        &-right{
            float: right;
            padding: 2rem 3rem;
            a{
                padding-right: 1rem; 
                color: white;
                font-weight: 500;
             }
             a:hover{
                 color: grey;
                 text-decoration: none;
             }
        }
    }   
}


