.aboutus{
    &__backdrop{
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 25%;
        background: #0f0c29;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
        color: white;
        &-title{
            text-align: center;
            padding: 4rem 4rem 0rem 4rem;;
        }
        &-subtitle{
            text-align: center;
            padding-bottom: 5rem;
            font-size: 2rem;
        }
    }
    &__content{
        width: 70% !important;
        margin: auto;
        padding-top: 3rem;
        >p{ 
            margin: 0 !important;
            padding: 0;
        }
    }
}