
.events-page{
    h2{
        margin:4.375rem auto 3rem auto;
        text-align: center;
    }

    &__robotics{
        &-title{
            margin-bottom: 1.5rem;
        }
        &-cards{
            display: grid;
            grid-template-columns: repeat(3,33.33%);
            grid-gap: 1rem;
        }
    }
}