canvas{
  position: fixed;
  top: 0;
  left: 0;
  z-index: -8;
}

.body{
  position: relative;
  color: white;
}

.logo{
  position: relative;
  width: 80%;
  margin: auto;
  padding-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  @include atSmall{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    &__UEM{
      width: 100%;
    height: auto;
    }
    &__ureckon{
      width: 100%;
    height: auto;
      
    }
    &__IEM{
      width: 100%;
    height: auto;
      
    }
  }
  &__UEM{
    text-align: center;
    width:65%;
    height: auto;
    margin: auto;
  }
  &__ureckon{
    text-align: center;
    width: 100%;
  }
  &__IEM{
    text-align: center;
    width:65%;
    height: auto;
    margin: auto;
  }
}

.home{
  position: relative;
  &__hero{
    &-text{
      font-size: 6rem;
      text-align: center;
      margin-top: 7rem;
      text-shadow: -3px 0 rgba(51,60,255, 0.8);
    }
    &-subtext{
      font-size: 3rem;
      text-align: center;
      position: relative;
      &-arrow{
        font-size: 2rem;
        span{
          position: absolute;
          top: 80%;
          left: 50%;
          width: 24px;
          height: 24px;
          margin-left: -12px;
          border-left: 1px solid #fff;
          border-bottom: 1px solid #fff;
          -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
          -webkit-animation: sdb05 1.5s infinite;
          animation: sdb05 1.5s infinite;
          box-sizing: border-box;
          @include atSmall{
            left: 46%;
          }
        }
      }
    }
  }
  &__links{
    font-size: 3rem;
    float: right;
    padding-right: 3rem;
    text-align: right;
    .fas{
      color: rgb(65, 10, 136) !important;
    }
  }
  &__hide{
    margin-top: 20rem;
  }
}

@-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}


  /* Stack -------------------------------------------------------------------------- */ 
  .content {
    font-family: 'Overpass Mono', monospace;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 0 1em;
  }
  
  .content:not(:first-child) {
    padding: 4em 0;
  }
  
  .content.content--padded {
    padding: 4em 0 8em;
  }
  
  .content__title {
    font-size: 0.85em;
    position: absolute;
    top: 18%;
    left: 2em;
    width: 5em;
    margin: 0.75em 0;
    color: #ffffff;
  }
  
  /* Grid */
  .grid {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 7em;
    perspective: 800px;
    perspective-origin: 50% 100%;
  }
  
  .grid__item {
    position: relative;
    display: block;
    flex: none;
    width: 250px;
    margin: 1.5em 2vw;
    cursor: default;
    transform-style: preserve-3d;
  }
  
  .grid__item:hover,
  .grid__item:focus {
    outline: none;
  }
  
  .grid__item--c1,
  .grid__item--c1:hover,
  .grid__item--c1:focus {
    color: #52649e;
  }
  
  .grid__item--c2,
  .grid__item--c2:hover,
  .grid__item--c2:focus {
    color: #ee7074;
  }
  
  .grid__item--c3,
  .grid__item--c3:hover,
  .grid__item--c3:focus {
    color: #f7f295;
  }
  
  .stack {
    position: relative;
    width: 100%;
    height: 200px;
    transform-style: preserve-3d;
  }
  
  .stack__deco {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: currentColor;
    transform-origin: 50% 100%;
  }
  
  .stack__deco:first-child {
    opacity: 0.2;
  }
  
  .stack__deco:nth-child(2) {
    opacity: 0.4;
  }
  
  .stack__deco:nth-child(3) {
    opacity: 0.6;
  }
  
  .stack__deco:nth-child(4) {
    opacity: 0.8;
  }
  
  .stack__figure {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transform-origin: 50% 100%;
  }
  
  .stack__img {
    position: relative;
    display: block;
    flex: none;
  }
  
  .grid__item-caption {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    transform-style: preserve-3d;
  }
  
  .grid__item-title {
    font-size: 1.15em;
    width: 100%;
    margin: 1em 0;
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: 400;
  }
  
  .column {
    width: 50%;
    padding: 0 0.5em;
    opacity: 0;
  }
  
  .column--left {
    text-align: right;
  }
  
  .column--right {
    text-align: left;
  }
  
  .column__text {
    font-size: 0.85em;
    display: block;
    color: #fff;
  }
  
  .column--left .column__text {
    font-weight: bold;
  }
  
  .column--right .column__text {
    color: #b0adad;
  }
  
  
  
  /* pollux */
  .grid--effect-pollux {
    perspective: 1000px;
    perspective-origin: 50% -70%;
  }
  
  .grid--effect-pollux .column {
    opacity: 1;
  }
  
  .grid--effect-pollux .stack__figure,
  .grid--effect-pollux .stack__deco {
    transform-origin: 50% 50%;
  }
  
  .grid--effect-pollux .grid__item-caption > .grid__item-title {
    transform-origin: 50% -200%;
  }
  
  //Hero Glitch
  .glitch {
    color: #FFF;
    position: relative;
    color: #fff;
    mix-blend-mode: lighten;
    font-size: 6rem;
    &--v1 {
     
        &:before {
          -webkit-animation: glitch--v2 2.2s linear;
          animation: glitch--v2 2.2s linear;
          animation-iteration-count: infinite;
          animation-delay: .115s;
        }
        &:after {
           -webkit-animation: glitch-anim-1 2s linear;
          animation: glitch-anim-1 2s linear;
          animation-iteration-count: infinite;
          animation-delay: .055s;
        }
      
    }
      &--v2 {
  
          &:before {
              -webkit-animation: glitch-anim-1 1.4s ease;
              animation: glitch-anim-2 1.4s ease;
              animation-iteration-count: infinite;
              animation-delay: .315s;
          }
          &:after {
              -webkit-animation: glitch--v2 1.2s linear;
              animation: glitch--v2 1.2s linear;
              animation-iteration-count: infinite;
              animation-delay: .55s;
          }
  
      }
    &:after,
    &:before{
      font-size: 6rem;
      content: attr(data-text);
      position: absolute;
      top: 0;
      width: 100%;
      background: #000138;
      clip: rect(0,0,0,0);

      @include atSmall{
        font-size: 3rem;
      }
    }
    &:before {
      left: -2px;
      text-shadow: 3px 0 rgba(252,77,122, 0.75);
      
    }
    &:after {
      left: 2px;
      text-shadow: -3px 0 rgba(51,60,255, 0.8);
    }
  }
  
  @keyframes glitch--v2 {
      0% {
          clip: rect(9px,9999px,11px,0);
      }
  
      15% {
          clip: rect(11px,9999px,38px,0);
      }
  
      30% {
          clip: rect(1px,9999px,26px,0);
      }
  
      50% {
          clip: rect(0,0,0,0);
      }
  
      70% {
          clip: rect(23px,9999px,36px,0);
      }
  
      80% {
          clip: rect(0,0,0,0);
      }
      100% {
          clip: rect(9px,9999px,11px,0);
      }
  }
  
  @keyframes glitch-anim-1 {
      0% {
          top: 4px;
          left: 3px;
          clip: rect(36px,9999px,44px,0);
      }
  
      20% {
         
          clip: rect(42px,9999px,147px,0);
      }
  
      40% {
         
          clip: rect(4px,9999px,100px,0);
      }
  
      60% {
          
          clip: rect(71px,9999px,108px,0);
      }
  
      80% {
          
          clip: rect(90px,9999px,140px,0);
      }
  
      100% {
          top: 1px;
          left: 0;
          clip: rect(128px,9999px,78px,0);
      }
  }


  @import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,600');
  
body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #000000;
}
  
.title{
  z-index: 10;
  font-family: "Montserrat";
  text-align: center;
  width: 100%;
  margin-top:8rem;
  @include atSmall{
    margin-top: 20vh;
  }
  h1{
    position: relative;
    color: #EEEEEE;
    font-weight: 600;
    font-size: 6rem;
    padding: 0;
    margin: 0;
    line-height: 1;
    text-shadow: 0 0 30px #000155;
    text-shadow: -3px 0 rgba(51,60,255, 0.8);
    width: 25rem;
    margin: auto;
    @include atSmall{
      width: 15rem;
      font-size: 3rem;
    }
  }
    span{
      font-weight: 600;
      padding: 0;
      margin: 0;
      color: #BBB;
    }
  h3{
    font-weight: 200;
    font-size: 20px;
    padding: 0;
    margin: 0;
    line-height: 1;
    color: #EEEEEE;
    letter-spacing: 2px;
    text-shadow: 0 0 30px #000155;
    @include atSmall{
      padding-top: 0.5rem;
    }
  }  
}

//Notification Drawer


html {box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit;}

.home-drawer-push {
	overflow-x: hidden;
	position: relative;
	right: 0;
}

.home-drawer {
	background: #444;
  	height: 100%;
  	position: fixed;
	text-align: center;
	top: 0;
	width: 300px;
	padding: 20px;
}

.home-drawer-right { right: -300px; }

.home-drawer-right.home-drawer-open { right: 0;    z-index: 999; }

.home-drawer-pushtoleft { right: 300px; }

.home-drawer, .home-drawer-push {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.home-btn {
	cursor: pointer;
  font-size: 30px;
  float: right;
  color: white;
  margin-right: 2rem;
  @include atSmall{
    margin-top: 2rem;
    font-size: 0.8rem;
    margin-right: 1rem;
  }
}

.close-btn {
	cursor: pointer;
	position: absolute;
	top: 10px;
	right: 10px;
}

.arrow-icon {
    position: absolute;
    right: 58px;
    top: 25px;
}
.notification__header{
  color: white;
  font-size: 1rem;
  font-weight: 500;
}

.notification__text{
  color: white;
  text-align: left;
  background: #656767;
  padding: 2rem;
  margin-top: 1rem;
}
  
.home__login{
  cursor: pointer;
  font-size: 30px;
  color: white;
  margin-left: 2rem;
  @include atSmall{
    margin-top: 2rem;
    font-size: 0.8rem;
    margin-left: 1rem;
  }
}

.home__logo-link{
  display: flex;
}