.partners{
    &__backdrop{
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 25%;
        background: #e65c00;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #F9D423, #e65c00);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #F9D423, #e65c00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        
        color: white;
        &-title{
            text-align: center;
            padding: 4rem 4rem 0rem 4rem;;
        }
        &-subtitle{
            text-align: center;
            padding-bottom: 5rem;
            font-size: 2rem;
        }
    }
    &__content{
        width: 70% !important;
        margin: auto;
        padding-top: 3rem;
        padding-bottom: 3rem;
        >p{ 
            margin: 0 !important;
            padding: 0;
        }
    }
}


 .partner_logo {
    filter: grayscale(100%);
    /* filter: brightness(0) invert(1); */
  }
  hr {
    background-color: #fff;
  }
  .label {
    /* text-align: center; */
    justify-content: center;
  }
