<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ureckon | About Us</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="../scss/3-Modules/hover.css">
    <link rel="shortcut icon" href="../images/Asset 14.png" type="image/x-icon">
</head>
<body>
    <!-- <button class="button__navbar menu-toggle"></button>
    <nav>
        <ul class="menu">
            <li data-text="Home">Home</li>
            <li data-text="Projects">Projects</li>
            <li data-text="About">About</li>
            <li data-text="Contact">Contact</li>
        </ul>
    </nav> -->
    <div class="navbaar__about">
        <nav class="top-right open navbar__links">
            <a href="../views/aboutus.html" class="disc l1">
              <div>About Us</div>
            </a>
            <a href="../views/talks.html" class="disc l2">
              <div>Talks</div>
            </a>
            <a href="../views/workshops.html" class="disc l3">
              <div>Workshop</div>
            </a>
            <a href="../views/events.html" class="disc l4">
              <div>Events</div>
            </a>
            <a class="disc l5 toggle">
              Menu
            </a>
          </nav>
    </div>
    

    <div class="aboutus">
        <div  class="aboutus__backdrop">
            <div data-tilt class="display-3 aboutus__backdrop-title">About Us!</div>
            <div class="aboutus__backdrop-subtitle"></div>
        </div>
        
        <div class="aboutus__content lead">
                <p>University Of Engineering & Management, Kolkata was established in the year 2014 by Act No 25 of 2014 of Govt of West Bengal and approved by AICTE.
                    The institute has stood one out of the top 10 institutes of India including all IITs and all NITs of the country in the NPTEL program ranked by IIT Kharagpur and IIT Chennai. 
                    It is one of the most premiere institutes of Eastern India.</p>
                <br>
                    <p>University of Engineering & Management Kolkata in association with ISRO ( Indian Space Research Organization) is organizing it’s annual techno-management festival “URECKON” since 2018. It is a seed which has already turned into a steady sapling with it’s roots being firm enough to yield bigger fruits.</p>
                <br>
            <p>Every year it gets Bigger and Better, with more exciting events as well as exhibitions. 
                    Students and tech enthusiasts from various parts of the country are wholeheartedly invited to be a part of this budding Techno-Management fest, not only to show case their talents but also considering it as a field to learn something new. 
                    URECKON in association with ISRO exhibits several application based robots and also hosts several events based on Robotics, Coding, B-plan, Quizzes, Guest lectures, Tech talks as exciting gaming events with lucrative prizes to be won.</p>
                <br>
                    <p>URECKON is an excellent platform for young minds to perform and excel in fields of not only technology but in business too. Exciting events along with exciting prizes are up for grabs every year, along with tons of experience to be gathered for enriching our limited pools of knowledge. So fasten up your shoe laces and buckle up your belt to attend URECKON because this year it will be bigger and better.</p>
        </div>
    </div>
    
    <footer class="footer__aboutus">
        <div class="container">
          <div class="footer__aboutus-links">
            <div>
              <h6 >
                <a href="./aboutus.html">About us</a>
              </h6>
            </div>
            <div >
              <h6 >
                <a href="./partners.html">Partners</a>
              </h6>
            </div>
            <div >
              <h6 >
                <a href="./teams.html">Team</a>
              </h6>
            </div>
            <div >
              <h6 >
                <a href="./web.html">Dev</a>
              </h6>
            </div>
            <div >
              <h6 >
                <a href="http://uosc.ureckon.org/">UOSC</a>
              </h6>
            </div>
          </div>
          <hr class="footer__aboutus-line">
          <div>
          <div class="footer__aboutus-text">
              <p style="line-height: 1.7rem">URECKON is the technical fest of UEM, Kolkata.</p>
            </div>
          </div>
            <div >
              <div class="footer__aboutus-socials">
                <!-- Facebook -->
                <a href="#" class="fb-ic">
                  <i class="fab fa-facebook-f fa-lg white-text mr-4"> </i>
                </a>
                <!-- Twitter -->
                <a href="#" class="tw-ic">
                  <i class="fab fa-twitter fa-lg white-text mr-4"> </i>
                </a>
                <!-- Google +-->
                <a href="#" class="gplus-ic">
                  <i class="fab fa-google-plus-g fa-lg white-text mr-4"> </i>
                </a>
                <!--Linkedin -->
                <a href="#" class="li-ic">
                  <i class="fab fa-linkedin-in fa-lg white-text mr-4"> </i>
                </a>
                <!--Instagram-->
                <a href="#" class="ins-ic">
                  <i class="fab fa-instagram fa-lg white-text mr-4"> </i>
                </a>
                <!--Pinterest-->
                <a href="#" class="pin-ic">
                  <i class="fab fa-pinterest fa-lg white-text"> </i>
                </a>
              </div>
            </div>
           </div>
        </div>
        <div class="footer__aboutus-copyright">© 2019 Copyright:
          <a href="https://www.ureckon.org">Ureckon, UEM Kolkata</a>
        </div>
      </footer>
   

    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.js" charset="utf-8"></script>
    <script src="https://unpkg.com/tilt.js@1.2.1/dest/tilt.jquery.min.js"></script>
    <script src="../js/Modules/smooth-scroll.js"></script>
    <script src="../js/aboutus.js"></script> 
    <script src="../js/Modules/header.js"></script>
    
</body>
</html>
