<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="../scss/3-Modules/hover.css">
</head>
<body>
    


	<div class="background__image">
    </div>
	<div class="hero">
		<h2 class="hero__title ">Events Information Page!</h2>
		<p class="hero__subtitle lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae asperiores expedita beatae dolorem unde quod neque nobis laborum! Veritatis, autem!</p>
        <a data-scroll href="#events-page">
            <i class="hero__arrow fas fa-angle-down"></i>
        </a>
        <div class="hero__events">
                <a data-scroll href="#events-page__robotics">
                    <i class="fas fa-robot"></i>
                    <span class="tooltiptext">Robotics</span>
                </a>

                <a data-scroll href="#events-page__coding">
                        <i class="fas fa-code"></i>
                        <span class="tooltiptext">Coding</span>
                    </a>
                
                <a data-scroll href="#events-page__gaming">
                    <i class="fas fa-gamepad"></i>
                    <span class="tooltiptext">Gaming</span>
                </a>
                
                <a data-scroll href="#events-page__mechanics">
                    <i class="fas fa-drafting-compass"></i>
                    <span class="tooltiptext">Mechanics</span>
                </a>
                
                <a data-scroll href="#events-page__flagship">
                    <i class="fab fa-free-code-camp"></i>
                    <span class="tooltiptext">Flagship</span>
                </a>
                
                <a data-scroll href="#events-page__business">
                    <i class="fas fa-briefcase"></i>
                    <span class="tooltiptext">Business</span>
                </a>
                
                <a data-scroll href="#events-page__miscellaneous">
                    <i class="fas fa-microchip"></i>
                    <span class="tooltiptext">Misc</span>
                </a>
                
        </div>
    </div>

     <div class="container">
        <div id="events-page" class="events-page">
            <section id="events-page__robotics" class="events-page__robotics section__one">
                <h3 class="events-page__robotics-title display-4">
                    Mark 42 se Chitti Tak!
                </h3>
                <div class="events-page__robotics-cards">
                    <div class="card">
                            <img src="https://source.unsplash.com/random" class="card-img-top events-page__robotics-cards-image" alt="events pictures">
                            <div class="card-body">
                                <h4 class="card-title">Robo Race<div  class="float-right events-page__robotics-badge badge badge-secondary">Robotics</div></h4>
                                <p class="card-text lead">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-light hvr-wobble-vertical"><i class="fas fa-arrow-down"></i> Download</a>
                                <a href="#" class="btn btn-primary float-right hvr-buzz">Register</a>
                            </div>
                    </div>
                    <div class="card">
                            <img src="https://source.unsplash.com/random" class="card-img-top events-page__robotics-cards-image" alt="events pictures">
                            <div class="card-body">
                                <h4 class="card-title">Robowar<div  class="float-right events-page__robotics-badge badge badge-secondary">Robotics</div></h4>
                                <p class="card-text lead">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-light hvr-wobble-vertical"><i class="fas fa-arrow-down"></i> Download</a>
                                <a href="#" class="btn btn-primary float-right hvr-buzz">Register</a>
                            </div>
                    </div>
                    <div class="card">
                            <img src="https://source.unsplash.com/random" class="card-img-top events-page__robotics-cards-image" alt="events pictures">
                            <div class="card-body">
                                <h4 class="card-title">Robo Sumo<div  class="float-right events-page__robotics-badge badge badge-secondary">Robotics</div></h4>
                                <p class="card-text lead">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-light hvr-wobble-vertical"><i class="fas fa-arrow-down"></i> Download</a>
                                <a href="#" class="btn btn-primary float-right hvr-buzz">Register</a>
                            </div>
                    </div>

                    <div class="card">
                            <img src="https://source.unsplash.com/random" class="card-img-top events-page__robotics-cards-image" alt="events pictures">
                            <div class="card-body">
                                <h4 class="card-title">Line Follower<div  class="float-right events-page__robotics-badge badge badge-secondary">Robotics</div></h4>
                                <p class="card-text lead">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-light hvr-wobble-vertical"><i class="fas fa-arrow-down"></i> Download</a>
                                <a href="#" class="btn btn-primary float-right hvr-buzz">Register</a>
                            </div>
                    </div>

                    <div class="card">
                        <img src="https://source.unsplash.com/random" class="card-img-top events-page__robotics-cards-image" alt="events pictures">
                        <div class="card-body">
                            <h4 class="card-title">Robo Soccer<div  class="float-right events-page__robotics-badge badge badge-secondary">Robotics</div></h4>
                            <p class="card-text lead">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-light hvr-wobble-vertical"><i class="fas fa-arrow-down"></i> Download</a>
                            <a href="#" class="btn btn-primary float-right hvr-buzz">Register</a>
                        </div>
                </div>
                </div> 
            </section>
            
            <hr class="line-break">

            <section id="events-page__coding" class="events-page__coding">
                <h3 class="events-page__coding-title display-4">
                    Semicolon ya No Semicolon!
                </h3>
                <div class="events-page__coding-cards">
                    <div class="card">
                            <img src="https://source.unsplash.com/random" class="card-img-top events-page__coding-cards-image" alt="events pictures">
                            <div class="card-body">
                                <h4 class="card-title">Code Ranch<div  class="float-right events-page__coding-badge badge badge-secondary">Coding</div></h4>
                                <p class="card-text lead">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-light hvr-wobble-vertical"><i class="fas fa-arrow-down"></i> Download</a>
                                <a href="#" class="btn btn-primary float-right hvr-buzz">Register</a>
                            </div>
                    </div>
                    <div class="card">
                            <img src="https://source.unsplash.com/random" class="card-img-top events-page__coding-cards-image" alt="events pictures">
                            <div class="card-body">
                                <h4 class="card-title">Code Golf<div  class="float-right events-page__coding-badge badge badge-secondary">Coding</div></h4>
                                <p class="card-text lead">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-light hvr-wobble-vertical"><i class="fas fa-arrow-down"></i> Download</a>
                                <a href="#" class="btn btn-primary float-right hvr-buzz">Register</a>
                            </div>
                    </div>
                    <div class="card">
                            <img src="https://source.unsplash.com/random" class="card-img-top events-page__coding-cards-image" alt="events pictures">
                            <div class="card-body">
                                <h4 class="card-title">Web Design<div  class="float-right events-page__coding-badge badge badge-secondary">Coding</div></h4>
                                <p class="card-text lead">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-light hvr-wobble-vertical"><i class="fas fa-arrow-down"></i> Download</a>
                                <a href="#" class="btn btn-primary float-right hvr-buzz">Register</a>
                            </div>
                    </div>

                    <div class="card">
                            <img src="https://source.unsplash.com/random" class="card-img-top events-page__coding-cards-image" alt="events pictures">
                            <div class="card-body">
                                <h4 class="card-title">Debugging<div  class="float-right events-page__coding-badge badge badge-secondary">Coding</div></h4>
                                <p class="card-text lead">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-light hvr-wobble-vertical"><i class="fas fa-arrow-down"></i> Download</a>
                                <a href="#" class="btn btn-primary float-right hvr-buzz">Register</a>
                            </div>
                    </div>
                </div> 
            </section>

            <hr class="line-break">

            <section id="events-page__gaming" class="events-page__gaming">
                <h3 class="events-page__gaming-title display-4">
                    Do you game bruh?!
                </h3>
                <div class="events-page__gaming-cards">
                    <div class="card">
                            <img src="https://source.unsplash.com/random" class="card-img-top events-page__gaming-cards-image" alt="events pictures">
                            <div class="card-body">
                                <h4 class="card-title">CS Go<div  class="float-right events-page__gaming-badge badge badge-secondary">Gaming    </div></h4>
                                <p class="card-text lead">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-light hvr-wobble-vertical"><i class="fas fa-arrow-down"></i> Download</a>
                                <a href="#" class="btn btn-primary float-right hvr-buzz">Register</a>
                            </div>
                    </div>
                    <div class="card">
                            <img src="https://source.unsplash.com/random" class="card-img-top events-page__gaming-cards-image" alt="events pictures">
                            <div class="card-body">
                                <h4 class="card-title">FIFA<div  class="float-right events-page__gaming-badge badge badge-secondary">Gaming</div></h4>
                                <p class="card-text lead">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-light hvr-wobble-vertical"><i class="fas fa-arrow-down"></i> Download</a>
                                <a href="#" class="btn btn-primary float-right hvr-buzz">Register</a>
                            </div>
                    </div>
                    <div class="card">
                            <img src="https://source.unsplash.com/random" class="card-img-top events-page__gaming-cards-image" alt="events pictures">
                            <div class="card-body">
                                <h4 class="card-title">NFS<div  class="float-right events-page__gaming-badge badge badge-secondary">Gaming</div></h4>
                                <p class="card-text lead">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-light hvr-wobble-vertical"><i class="fas fa-arrow-down"></i> Download</a>
                                <a href="#" class="btn btn-primary float-right hvr-buzz">Register</a>
                            </div>
                    </div>

                    <div class="card">
                            <img src="https://source.unsplash.com/random" class="card-img-top events-page__gaming-cards-image" alt="events pictures">
                            <div class="card-body">
                                <h4 class="card-title">PUBG Mobile<div  class="float-right events-page__gaming-badge badge badge-secondary">Gaming</div></h4>
                                <p class="card-text lead">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-light hvr-wobble-vertical"><i class="fas fa-arrow-down"></i> Download</a>
                                <a href="#" class="btn btn-primary float-right hvr-buzz">Register</a>
                            </div>
                    </div>
                </div> 
            </section>

            <hr class="line-break">

            <section id="events-page__mechanics" class="events-page__mechanics">
                <h3 class="events-page__mechanics-title display-4">
                    Wrench and Bolts!
                </h3>
                <div class="events-page__mechanics-cards">
                    <div class="card">
                            <img src="https://source.unsplash.com/random" class="card-img-top events-page__mechanics-cards-image" alt="events pictures">
                            <div class="card-body">
                                <h4 class="card-title">Bridge Making<div  class="float-right events-page__mechanics-badge badge badge-secondary">Mechanics</div></h4>
                                <p class="card-text lead">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-light hvr-wobble-vertical"><i class="fas fa-arrow-down"></i> Download</a>
                                <a href="#" class="btn btn-primary float-right hvr-buzz">Register</a>
                            </div>
                    </div>
                    <div class="card">
                            <img src="https://source.unsplash.com/random" class="card-img-top events-page__mechanics-cards-image" alt="events pictures">
                            <div class="card-body">
                                <h4 class="card-title">Arm of Hercules<div  class="float-right events-page__mechanics-badge badge badge-secondary">Mechanics</div></h4>
                                <p class="card-text lead">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-light hvr-wobble-vertical"><i class="fas fa-arrow-down"></i> Download</a>
                                <a href="#" class="btn btn-primary float-right hvr-buzz">Register</a>
                            </div>
                    </div>
                    <div class="card">
                            <img src="https://source.unsplash.com/random" class="card-img-top events-page__mechanics-cards-image" alt="events pictures">
                            <div class="card-body">
                                <h4 class="card-title">Aerostorm<div  class="float-right events-page__mechanics-badge badge badge-secondary">Mechanics</div></h4>
                                <p class="card-text lead">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-light hvr-wobble-vertical"><i class="fas fa-arrow-down"></i> Download</a>
                                <a href="#" class="btn btn-primary float-right hvr-buzz">Register</a>
                            </div>
                    </div>
                </div> 
            </section>

            <hr class="line-break">

            <section id="events-page__flagship" class="events-page__flagship">
                <h3 class="events-page__flagship-title display-4">
                    Bade Bade Naam!
                </h3>
                <div class="events-page__flagship-cards">
                    <div class="card">
                            <img src="https://source.unsplash.com/random" class="card-img-top events-page__flagship-cards-image" alt="events pictures">
                            <div class="card-body">
                                <h4 class="card-title">UIC- Urecon Inovation Challenge<div  class="float-right events-page__flagship-badge badge badge-secondary">Flagship</div></h4>
                                <p class="card-text lead">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-light hvr-wobble-vertical"><i class="fas fa-arrow-down"></i> Download</a>
                                <a href="#" class="btn btn-primary float-right hvr-buzz">Register</a>
                            </div>
                    </div>
                    <div class="card">
                            <img src="https://source.unsplash.com/random" class="card-img-top events-page__flagship-cards-image" alt="events pictures">
                            <div class="card-body">
                                <h4 class="card-title">Urecathon<div  class="float-right events-page__flagship-badge badge badge-secondary">Flagship</div></h4>
                                <p class="card-text lead">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-light hvr-wobble-vertical"><i class="fas fa-arrow-down"></i> Download</a>
                                <a href="#" class="btn btn-primary float-right hvr-buzz">Register</a>
                            </div>
                    </div>
                </div> 
            </section>

            <hr class="line-break">

            <section id="events-page__business" class="events-page__business">
                <h3 class="events-page__business-title display-4">
                    Let's talk about dhan!
                </h3>
                <div class="events-page__business-cards">
                    <div class="card">
                            <img src="https://source.unsplash.com/random" class="card-img-top events-page__business-cards-image" alt="events pictures">
                            <div class="card-body">
                                <h4 class="card-title">Get Set Sell<div  class="float-right events-page__business-badge badge badge-secondary">Business</div></h4>
                                <p class="card-text lead">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-light hvr-wobble-vertical"><i class="fas fa-arrow-down"></i> Download</a>
                                <a href="#" class="btn btn-primary float-right hvr-buzz">Register</a>
                            </div>
                    </div>
                    <div class="card">
                            <img src="https://source.unsplash.com/random" class="card-img-top events-page__business-cards-image" alt="events pictures">
                            <div class="card-body">
                                <h4 class="card-title">Ad making<div  class="float-right events-page__business-badge badge badge-secondary">Business</div></h4>
                                <p class="card-text lead">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-light hvr-wobble-vertical"><i class="fas fa-arrow-down"></i> Download</a>
                                <a href="#" class="btn btn-primary float-right hvr-buzz">Register</a>
                            </div>
                    </div>
                </div> 
            </section>

            <hr class="line-break">

            <section id="events-page__miscellaneous" class="events-page__miscellaneous">
                <h3 class="events-page__miscellaneous-title display-4">
                    Jisko sab log misc likhte hai!
                </h3>
                <div class="events-page__miscellaneous-cards">
                    <div class="card">
                            <img src="https://source.unsplash.com/random" class="card-img-top events-page__miscellaneous-cards-image" alt="events pictures">
                            <div class="card-body">
                                <h4 class="card-title">ClueX<div  class="float-right events-page__miscellaneous-badge badge badge-secondary">Miscellaneous</div></h4>
                                <p class="card-text lead">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-light hvr-wobble-vertical"><i class="fas fa-arrow-down"></i> Download</a>
                                <a href="#" class="btn btn-primary float-right hvr-buzz">Register</a>
                            </div>
                    </div>
                    <div class="card">
                            <img src="https://source.unsplash.com/random" class="card-img-top events-page__miscellaneous-cards-image" alt="events pictures">
                            <div class="card-body">
                                <h4 class="card-title">Tech Quiz - Think Tech<div  class="float-right events-page__miscellaneous-badge badge badge-secondary">Miscellaneous</div></h4>
                                <p class="card-text lead">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-light hvr-wobble-vertical"><i class="fas fa-arrow-down"></i> Download</a>
                                <a href="#" class="btn btn-primary float-right hvr-buzz">Register</a>
                            </div>
                    </div>
                </div> 
            </section>
        </div>
    </div>
        


    
    


    
    
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.js" charset="utf-8"></script>
    <script src="https://unpkg.com/tilt.js@1.2.1/dest/tilt.jquery.min.js"></script>
    <script src="../js/Modules/smooth-scroll.js"></script>
    <script src="../js/events.js"></script> 
    
</body>
</html>